:root {
  --primary: white;
  --secondary: black
}
main {
  display: none
}
body, :root{
    background-color: black;
    color: var(--primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
}
body::-webkit-scrollbar{
    display: none;
  }
canvas {
  /* filter: invert(1); */
    display : block;
    /* width: 100px; */
    /* position: absolute; */
}
.progress {
  background: var(--primary);
  width: 0%;
  transition: width 1s linear;
  display: inline-block;
  color: transparent
}
.progressBar {
  width: 100%;
  border-radius: 0;
}
#songList {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* position: absolute;
  top: 100vh; */
}
#songPlaying {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.25);
  color: var(--primary);
  padding: 10px;
  text-align: center;
}
#frameRate {
  left: 0;
}
input, button {
  outline: none;
}
.song:hover {
  /* background: #333 */
  color: black;
  filter: invert(100%);
}
.song {
  display: block;
  height: 20px;
  width: 90%;
  border: 1px solid var(--primary);
  /* background: var(--secondary); */
  color: white;
  transition: all 0.25s;
  padding: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  filter: invert(0%);
  cursor: default;
  user-select: none;
}
.optionsContainer {
  transition: height 0.25s, background-color 0.25s
}
.icon {
  transition: 0.25s rotate
}
.optionsContainer {
  height: 2.5em;
  overflow: hidden;
  border: 1px solid var(--primary);
  margin-bottom: 1em;
}
.optionsContainer p {
  text-align: center;
  margin-top: 0.5em;
}
.optionsContainer:hover {
  height: 10em;
}
.optionsContainer:hover p .icon {
  display: inline-block;
  rotate: 90deg
}
.row1, .row2, .row3 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
/* The snackbar - position it at the top and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    top: 30px;
    /* 30px from the top */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
